{% extends 'email/base.html.twig' %}

  {% block title %}Подтверждение регистрации{% endblock %}

  {% block content %}
      <h1>Добро пожаловать!</h1>
      <p>Для подтверждения регистрации перейдите по ссылке:</p>
      <p>
          <a href="{{ confirmUrl }}" class="button">Подтвердить email</a>
      </p>
      <p class="small">
          Или скопируйте ссылку: {{ confirmUrl }}
      </p>
      <p class="small">
          Ссылка действительна {{ expiresIn }}.
      </p>
  {% endblock %}
